*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #42bb8f;
}

#container{
    background-color: #ffffff;
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    padding-block: 2.5rem;
    padding: 2rem;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

#nav h2{
    font-weight: 950;
    text-align: center;
}

header p {
    color: rgb(153, 150, 150);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.flex p{
    font-weight: bold;
    /* text-transform: uppercase; */
}

#total{
    z-index: 1;
    overflow: hidden;
    position: relative;
    height: 20rem;
}

#bicycle{
    width: 40rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    bottom: 0;
    transform: translateY(8%);
}