*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#total{
    z-index: 1;
    overflow: hidden;
    position: relative;
    height: 20rem;
}

#bicycle{
    width: 25rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    bottom: 0;
    transform: translateY(50%);
}