*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #42bb8f;
}

#container{
    background-color: #ffffff;
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total{
    z-index: 1;
    overflow: hidden;
    position: relative;
    height: 20rem;
}

#bicycle{
    width: 30rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    bottom: 0;
    transform: translateY(25%);
}