*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' sans-serif serif;
    height: 100vh;
    background: url(./img/background.jpg) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    background-color: white;
    position: absolute;
    width:400px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
}

section img{
    width: 60px;
}