*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' sans-serif serif;
    height: 100vh;
    background: url(./img/background.jpg) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    background-color: white;
    position: absolute;
    height: 300px;
    width:300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    display: flex;
    justify-content: start;
    align-items: center;
}

section img{
    width: 60px;
}

.intro{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.mastercard div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cards{
    border-top: 0.1rem solid #848080e7 ;
    padding: 1rem;
    padding-left: 2rem;
    gap: 1rem;
}

.mastercard{
    display: flex;
    justify-content: space-between;
}

.mastercard #check{
    width: 2rem;
}

.btn{
    background-color: #4d68c9;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.btn img{
    width: 2rem;
}