*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(84, 131, 192);
    font-family: 'Roboto' sans-serif serif;
}

.container{
    background-color: white;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container section{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    width: 100%;
    gap: 30px;
    border: 1px solid black;
}
section img{
    margin: 0 auto;
    width: 70px;
}

section h3, .pricing{
    color: rgb(84, 131, 192);
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .container{
        flex-wrap: wrap;
    }
}