*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(228,204,211);
    background: radial-gradient(circle, rgba(228,204,211,0.9822303921568627) 0%, rgba(157,87,121,1) 98%);
    font-family: 'Cormorant', serif;
    font-size: 1.5rem;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

header > img{
    display: block;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

/* NAVBAR */

nav{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

nav > span a{
    margin: 1rem;
    color: white;
    text-shadow: 1rem 1rem 0.5rem rgba(0,0,0,0.6);
    font-weight: 3rem;
    padding: 1rem;
    font-size: 1.5rem;
}

nav > span a:hover{
    cursor: pointer;
    transition:1s ease-in-out;
    color: #642e56;
    background-color: #ffffff;
}

/* MAIN */

main{
    margin: 2rem;
    color: #642e56;
}

#info{
    background-color: #ffffff38;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
}

#info img{
    width: 40rem;
    display: block;
    border-radius: 1rem;
}

#info .text{
    padding: 1.5rem;
    line-height: 1.5;
}

.text h1{
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.text p{
    margin-block: 1rem;
}

#products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
    gap: 2rem;
}

#products > section{
    flex: 1;
    background-color:  #ffffff38;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: transform 0.3s ease-in-out;
}

#products > section:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#products >section h3{
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6d0f4132;
    padding: 2rem;
    font-size: 1.3rem;
    gap: 1.8rem;
}

footer > div{
    flex: 1;
    color:#ffffff;
}

#footer-img img{
    width: 15rem;
}

#footer-word{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    display: flex;
    gap: 2rem;
    
}


/*** MEDIA QUERIES ***/

@media screen and (max-width: 770px) {
    header > img{
        width: 20rem;
    }    

    nav{
        display: block;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
    }

    nav > span a{
        font-size: 1.2rem;
        display: block;
    }


    #info img{
        display: none;
    }

    #info .text{
        font-size: 1rem;
    }

    #products{
        display: block;
    }

    #products section{
        margin-block: 2rem;
        font-size: 1rem;
    }

    footer{
        display: block;
    }

    footer div{
        margin-block: 1rem;
        font-size: 1rem;
    }
}
