*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(228,204,211);
    background: radial-gradient(circle, rgba(228,204,211,0.9822303921568627) 0%, rgba(157,87,121,1) 98%);
    margin: 2rem;
    font-family: 'Cormorant', serif;
    font-size: 2rem;
}


header > img{
    display: block;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

nav > span{
    flex: 1;
}